<!DOCTYPE html>
<html lang="en" dir="ltr">
<link rel="stylesheet" href="assets/main.css">
<link rel="stylesheet" href="assets/normalize.css">
  <head>
    <meta charset="utf-8">
    <title>Contact</title>
    <nav>
    <ul>
      <li><a href="/" class="selected"> About</li></a>
      <li><a href="/project" class="selected"> Projects</li></a>
      <li><a href="/xp" class="selected"> XP</li></a>
      <li><a class="active" href="/contact" class="selected"> Contact</li></a>
    </ul>
    </nav>
  </head>
  <body>
    <header>
      <h1>Contact</h1>
    </header>
      <img src"" alt="developer imgage">
      <details open>
        dummy info <br>
        example@yeet.com <br>
        123-123-1111 <br>
        </details>

      <footer>
      &copy;PeanutBudder
      </footer>

  </body>
</html>
