<!DOCTYPE html>
<html lang="en" dir="ltr">
<link rel="stylesheet" href="assets/main.css">
<link rel="stylesheet" href="assets/normalize.css">
  <head>
    <meta charset="utf-8">
    <title>xp</title>
    <nav>
    <ul>
      <li><a href="/" class="selected"> About</li></a>
      <li><a href="/project" class="selected"> Projects</li></a>
      <li><a class="active" href="/xp" class="selected"> XP</li></a>
      <li><a href="/contact" class="selected"> Contact</li></a>
    </ul>
    </nav>
  </head>
  <body>
    <header>
      <h1>Experience</h1>
      </header>

      <footer>
      &copy;PeanutBudder
      </footer>

  </body>
</html>
