/******************************
general
******************************/
body {
  font-family: 'open sans';
}
header {
  padding: 5px 0px 0px 0px;
}

#wrapper{
    max-width: 940px;
    margin: 0 auto;
    padding: 0 5%;

}
a {
  text-decoration: none;
}
img {
  max-width: 100%
}
h3 {
  margin: 0 0 1em 0;
}
/******************************
Header
******************************/
header {
  background: #3aafa9;
}
nav {
  background-color: #3aafa9;
}
/* style lolo*/
h1, h2 {
    color: #FFFFFF;
    padding-bottom: 5px;
    padding-top: 0px;
    text-align: center;
}
a {
  color: #6ab47b;
}
a:hover{
  color: #9f2020;
}
body {
  background-color: #3aafa9;
  color: #999;
}
/********************************
list
********************************/

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #3aafa9;
}

li {
    float: left;
}

li a {
    display: block;
    font-family: 'Oswald', sans-serif;
    font-size: 30px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #111;
}

.active {
    background-color: #2b7a78;
}
